#logo{
	text-align: center;
	z-index: 1;
}
.logoSvg{
	width:50%;
	height:150px;
	margin: 5% 0 0 0;
}
.logoSvg svg{
	fill:#37474f;
}
body{
	background-color: #FCFCFC;
	position: relative;
}
button{
	border:none;
	background-color: none;
	background: transparent;
	font-style: normal;
}
.row{
	text-align: center;
	margin:5% 0 5% 0;
	width:100%;
	z-index: 100;
}
img{
	width:360px;
	height:350px;
	margin: 2%;
	text-align: center;
}
/*======================MODAL=======================*/
#modal-body{
	background-color: transparent;
}
.btn-warning{
	background-color: transparent;
}
#likebtn svg{
	z-index: 50;
	margin:100px;
	position: absolute;
	left:0;
	top:0;
	fill:transparent;
}
#likebtn svg:hover {
    fill: #BFFF00;
}
#dislikeBtn{
	background-color: none;
	position: absolute;
	margin:30px 0 0 -40px;
}
.btn-default{
	background: transparent;
	text-shadow:none;
	margin:0  3%;
	padding: 1%;
	/*-webkit-transform:skewX(-30deg); */
}

.btn-default{
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #37474f;
  color: #37474f;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  
  &::before {
    background: none repeat scroll 0 0 #37474f;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
              -webkit-transition-delay: 0s, 0s;
           -webkit-transition-duration: 0.4s, 0.4s;
           -webkit-transition-property: transform, opacity;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    width: 100%;
    z-index: -1;
  }

  &:hover {
    color: #fff;
    
    &::before {
      opacity: 1;
    }
  }
  
  &.split {
    &:hover {
      &::before {
        -webkit-transform: translate3d(0px, 0px, 0px);
      }
    }
    
    &::before {
      -webkit-transform: scale3d(0.7, 1, 1);
    }
  }
   &.wayra {
    &:hover {
      &::before {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
      }
    }
    
    &::before {
      -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0px, -3em, 0px);
    }
  }
}



/*.btn-default:nth-child(1){
	border:#01BAEF 1px solid;
	color:#01BAEF;
}
.btn-default:nth-child(1):hover{
	background-color:#01BAEF;
	color:#FCFCFC;
}*/
/*.btn-default:nth-child(2){
	border:#26547C 1px solid;
	color:#26547C;
}
.btn-default:nth-child(2):hover{
	background-color:#26547C;
	color:#FCFCFC;
}
.btn-default:nth-child(3){
	border:#06D6A0 1px solid;
	color:#06D6A0;
}
.btn-default:nth-child(3):hover{
	background-color:#06D6A0;
	color:#FCFCFC;
}
.btn-default:nth-child(4){
	border:#FFD166 1px solid;
	color:#FFD166;
}
.btn-default:nth-child(4):hover{
	background-color:#FFD166;
	color:#FCFCFC;
}
.btn-default:nth-child(5){
	border:#EF476F 1px solid;
	color:#EF476F;
}
.btn-default:nth-child(5):hover{
	background-color:#EF476F;
	color:#FCFCFC;
}*/

@media (max-width: 400px){
	.btn-default{
		display: block;
		margin: 2% 10%;
	}
	.addGifForm{
		display:none;
	}

	.logoSvg{
		width:60%;
		height:140px;
	}
}









