<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset ="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Tif Gif</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, intial-scaleable">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="AppCtrl">
			<h1>Lets get funky</h1>
			<li>
			</li>
		</div>

		<form method="POST" action="/send">
			<input name="senderName" type="text" placeholder="Your Name" />
			<input name="recipientEmail" type="text" placeholder="Send To Email" />
			<button type="submit">Send</button>
		</form>

		<h1>Add Gif</h1>
		<form method="POST" action="/gifs" ng-submit="onCreate()">
			<input name="url" type="text" placeholder="URL" ng-model="gif.url"/>
			<input name="likes" type="number" placeholder="likes" ng-model="gif.likes"/>
			<input name="dislikes" type="number" placeholder="Dislikes" ng-model="gif.dislikes"/>
			<input name="shares" type="number" placeholder="Share" ng-model="gif.shares" />
			<input name="tags" type="string" placeholder="Comma Separated List Of Tags" ng-model="gif.tags" />
			<button type="submit">Send</button>
		</form>
		<form method="POST" action="/gifs/like">
			<button>Like</button>
		</form>
		<form method="POST" action="/gifs/dislike">
			<button>Dislike</button>
		</form>
		
		<script src="controllers/controller.js"></script>
	</body>
</html>